@font-face {
  font-family: 'Museo Sans Cyrl Regular';
  src: url('../fonts/MuseoSansCyril/MuseoSansCyrl-300.eot');
  src: local('MuseoSansCyrl-300'),
    url('../fonts/MuseoSansCyril/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyril/MuseoSansCyrl-300.woff2') format('woff2'),
    url('../fonts/MuseoSansCyril/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyril/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl Bold';
  src: url('../fonts/MuseoSansCyril/MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'),
    url('../fonts/MuseoSansCyril/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyril/MuseoSansCyrl-700.woff2') format('woff2'),
    url('../fonts/MuseoSansCyril/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyril/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin reg {
  font-family: 'Museo Sans Cyrl Regular';
  font-weight: 300;
}

@mixin bold {
  font-family: 'Museo Sans Cyrl Bold';
  font-weight: 700;
}