*
  box-sizing: border-box
body
  font-family: 'Museo Sans Cyrl Regular'
  color: $text-color
img
  max-width: 100%
.container
  width: 1170px
  margin: auto
.button
  padding: 18px 30px
  border-radius: 10px
  background-color: $primary-color
  border: none
  &:hover
    cursor: pointer
    background-color: lighten($primary-color, 10%)
  &:focus
    outline-style: none
  &_top
    display: none
    position: fixed
    bottom: 0
    left: 50%
    margin-left: -40px
    cursor: pointer
    width: 0
    height: 0
    border: 40px solid transparent
    border-bottom-color: $primary-color
    border-top: 0
    z-index: 10
    span
      position: absolute
      bottom: -35px
      left: -20px
      font-size: 12px
.input
  border: 1px solid $border-input
  padding: 20px 26px
  font-size: 16px
  border-radius: 10px
  &:focus
    border: 1px solid $primary-color
    outline-style: none
.section
  padding: 100px 0
.section-title
  margin: 0
  font-size: 30px
  line-height: 45px
  +bold
  text-align: center
@media (max-width: 1200px)
  .container
    width: 760px
  .section-title
    font-size: 24px
@media (max-width: 768px)
  .section
    padding: 52px 0
  .container
    max-width: 560px
    width: 95%
  .section-title
    font-size: 24px
    line-height: 28px
@media (max-width: 576px)
  .container
    width: 100%
  .section-title
    max-width: 270px
    font-size: 18px
    line-height: 1.2
    

