.portfolio
  background: $secondary-color url("../img/portfolio/portfolio-pattern.png") repeat-y center left
  background-size: 50%
  &__title
    margin: auto
    margin-bottom: 95px
.arrows
  margin: auto
  margin-top: 68px
  display: flex
  justify-content: center
  &__left
    text-align: left
  &__right
    text-align: right
  &__left, &__right
    flex-basis: 60px
    cursor: pointer
.slider-item:active
  outline-style: none
.slick-slider
  margin: 0 -15px
.slick-slide
  text-align: center
  margin-right: 15px
  margin-left: 15px
  outline: none
@media (max-width: 1200px)
  .portfolio
    background: $secondary-color
    &__title
      margin-bottom: 41px
    &__slider
      margin-bottom: 46px
  .slider
    &__image
      margin: auto
@media (max-width: 768px)
  .portfolio
    padding-top: 43px
    padding-bottom: 64px
    
    &__title
      max-width: 380px
@media (max-width: 576px)
  .portfolio
    &__title
      max-width: 275px
  .slider
    &__image
      max-width: 246px

    